DEBUG=1
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=example.com,www.example.com
CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com
DB_ENGINE=django.db.backends.postgresql
DB_NAME=journal_db
DB_USER=journal_user
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=5432
APP_IMAGE=ghcr.io/pavel9876543/journal_cadet:latest
DJANGO_SUPERUSER_USERNAME=chiefadmin2026
DJANGO_SUPERUSER_EMAIL=admin.journal2026@example.com
DJANGO_SUPERUSER_PASSWORD=AdminCadet2026!
DJANGO_SUPERUSER_ROTATE_PASSWORD=0
SSH_HOST=
SSH_USER=
SSH_PRIVATE_KEY=
SSH_PORT=22
REPO_URL=git@github.com:Pavel9876543/journal_cadet.git
APP_DIR=/opt/cadet_journal
GHCR_PULL_USER=
GHCR_PULL_TOKEN=
WAIT_FOR_DB=1
POSTGRES_DB=cadetjournal2026
POSTGRES_USER=cadetadmin2026
POSTGRES_PASSWORD=CadetDb2026Pass!
