DJANGO_ENV=development
DEBUG=1
SECRET_KEY=dev-only-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DB_ENGINE=django.db.backends.postgresql
DB_NAME=journal_db
DB_USER=journal_user
DB_PASSWORD=journal_password
DB_HOST=db
DB_PORT=5432
WAIT_FOR_DB=1
POSTGRES_DB=journal_db
POSTGRES_USER=journal_user
POSTGRES_PASSWORD=journal_password
APP_IMAGE=cadet-journal:web
DJANGO_SUPERUSER_USERNAME=chiefadmin2026
DJANGO_SUPERUSER_EMAIL=admin.journal2026@example.com
DJANGO_SUPERUSER_PASSWORD=AdminCadet2026!
DJANGO_SUPERUSER_ROTATE_PASSWORD=0
pas_key_data=rtycds28
REPO_URL=git@github.com:Pavel9876543/journal_cadet.git
APP_DIR=/opt/cadet_journal
