{% load static %}
{# Файлы загружаются сразу, а режим выбирают их внутренние media-блоки. #}
{# Так поворот телефона не ждёт отложенной загрузки нового stylesheet. #}
<link rel="stylesheet" href="{% static 'journal/layout-desktop.css' %}?v=20260730-1" data-layout-styles="desktop">
<link rel="stylesheet" href="{% static 'journal/layout-laptop.css' %}?v=20260730-1" data-layout-styles="laptop">
<link rel="stylesheet" href="{% static 'journal/layout-tablet.css' %}?v=20260730-1" data-layout-styles="tablet">
<link rel="stylesheet" href="{% static 'journal/layout-mobile.css' %}?v=20260730-1" data-layout-styles="mobile">
